// Primary Colors
$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);

// Neutral Colors
$offWhite: hsl(36, 100%, 99%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);

// Font Size
$font-xs: 0.9375rem;  
$font-link: 1rem;     
$font-sm: 1.125rem;   
$font-md: 1.25rem;    
$font-lg: 2rem;       
$font-xl: 2.625rem;   
$font-title: 3.5rem;  


// Font Weight
$font-extraBold: 800;